@import url(https://fonts.googleapis.com/css?family=Lato:700);

body {
  margin:0;
}

nav.container {
  background-color: lightgrey;
  width: 100%;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.logo {
  font-family:'Lato';
  display: inline-block;
  color:black;
  margin:10px;
  padding-left: 10px;
}

ul, li {
  list-style: none;
  display: inline-block;
  padding-left: 20px;
}
.links {
  margin:10px;
  right:0;
  position: absolute;
  padding-right: 20px;
}
a:link {
  color: black;
}

.search-bar {
  margin: 50px 100px;
}

.search-bar input {
  font-family: 'Lato';
  padding: 2px 80px 2px 10px;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid lightgrey;
  float: left;
}

.fa-search {
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding:6px;
  margin-left: 10px;
}

.results-bar {
  margin-left: 100px;
  border: 1px solid lightgrey;
  max-width: 250px;
  border-radius: 3px;
  margin-bottom: 50px;
}

.results-bar h4 {
  display: inline-block;
  margin-top:0;
  margin-bottom: 0;
  padding: 5px 10px;
  font-weight: normal;

}

.box {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.results {
  margin-left: 100px;
  margin-top: 20px;
}
.results h4 {
  display: inline;
  padding-left: 10px;

}
.fa-star {
  color:grey;
}

.fa-star:hover {
  color: yellow;
}

.date, .location {
  color:grey;
  font-weight: normal;
}
.title {
  font-size:20px;
  font-family: 'Lato';
}
a:hover {
  text-decoration: underline;
}
